*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    font-size: 1.6rem;/** 16px */
    background-color: blue;
}
.exemple{
    border:1px solid #000;
    padding: 20px;
    margin: 100px;
    /* position: relative; */
}

.exemple p{
    /* position: fixed; */
    top: 0;
    left: 0;
}

@media screen and (min-width:768px){
    .exemple{
        font-size: 1.8rem;
        color: #f00;
        font-weight: bold;
    }
}
